include ../partials/header.pug

label(for='workoutName') Workout Name
input(type='text' name='workoutName')    

- let daysOfWeek = ['Monday','Tuesday','Wednesday'];
- let exercisesPerDay = 3;

each day in daysOfWeek
    div(class=day)
        - for (i=0; i<exercisesPerDay; i++){
            label(for='name') Name 
            input#name(type='text' name='name')
            label(for='reps') Reps 
            input#reps(type='number' name='reps')
            label(for='sets') Sets 
            input#sets(type='number' name='sets')
            label(for='weight') Weight 
            input#weight(type='number' name='weight')
            label(for='muscle') Muscle/Group 
            input#muscle(type='muscle' name='muscle')
        -}






include ../partials/footer.pug