include ../partials/header.pug

form(action='/workouts/new' method='post')

    label(for='name') Workout Name
    input(type='text' name='name')
    label(for='trainer') Trainer Name
    input(type='text' name='trainer')
    label(for='days') Days of Week
    input(type='text' name='days')
                
//- CHECKBOX FOR DAYS OF WEEK

    submit
        button Create Workout

include ../partials/footer.pug