

form(action='/workouts/new', method='post')
    label(for='day') Day 
    input#day(type='text', name='day')
    label(for='name') Name 
    input#name(type='text', name='name')
    label(for='reps') Reps 
    input#reps(type='number' name='reps')
    label(for='sets') Sets 
    input#sets(type='number' name='sets')
    label(for='weight') Weight 
    input#weight(type='number' name='weight')
    label(for='muscle') Muscle/Group 
    input#muscle(type='muscle' name='muscle')
    submit
        button Create