head
    title Iron Tracker
body
    h1 Welcome to Iron Tracker

    a(href='workouts') Access Workouts


//- landing v
//-     workouts v
//-         index v
//-         new v
//-         edit
//-         delete





include partials/footer.pug