form(action='/new', method='post' class="newForm")
    label(for='name') Name 
    input#name(type='text', name='name')
    label(for='reps') Reps 
    input#reps(type='number' name='reps')
    label(for='sets') Sets 
    input#reps(type='number' name='sets')
    label(for='weight') Weight 
    input#reps(type='number' name='weight')
    label(for='muscle') Muscle/Group 
    input#reps(type='muscle' name='muscle')
    submit
        button Create